.efml-review, .efml-review:hover {
	color: #d4af37;
}

body .etfw-transient h3 img {
	width: 42px;
}

.eml_add_external_files_wrapper {
	border: 4px dashed #c3c4c7;
	margin: 1em auto 0;
	padding: 2em 0;
	text-align: center;
}
