.eml > div { min-width: 640px }

.eml_add_external_files_wrapper {
	border: 4px dashed #c3c4c7;
    margin: 1em auto 0;
	padding: 2em 0;
	text-align: center;
}

select.eml-field-width {
    width: 240px;
}

.eml_settings_link {
    display: inline-block;
	margin-top: .5em;
    text-decoration: none;
	vertical-align: middle;
}

.eml-transient {
    position: relative;
    z-index: 1;
}

body.settings_page_eml_settings .review-hint-button:after {
	color: #d4af37;
	content: "\f155 \f155 \f155 \f155 \f155";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	margin-left: 8px;
}

body.settings_page_eml_settings .nav-tab-help {
	background-color: #fca15b;
	float: right;
}

body.settings_page_eml_settings .nav-tab-help:before {
	content: "\f125";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	font-size: 12px;
	margin-right: 8px;
}

body.settings_page_eml_settings .dashicons-no { color: red }

body.settings_page_eml_settings .dashicons-yes { color: green }

.eml .easy-dialog-for-wordpress-text label {
	display: block;
	margin-bottom: 0.5em;
}

.eml .easy-dialog-for-wordpress-text label.title {
	font-weight: 600;
}

.eml .easy-dialog-for-wordpress-text input[type="url"], .easy-dialog-for-wordpress-text #youtube_channel_id {
	display: block;
	margin-bottom: 0.5em;
	width: 100%;
}

.eml .easy-dialog-for-wordpress-text textarea {
	display: block;
	height: 100px;
	margin-bottom: 0.5em;
	width: 100%;
}

.eml .easy-dialog-for-wordpress-text .error-list, .eml .easy-dialog-for-wordpress-text .ok-list {
	list-style: disc;
	margin-left: 14px;
}

.eml .easy-dialog-for-wordpress-text:has(.eml-success-list) p, .eml .easy-dialog-for-wordpress-text:has(.eml-error-list) p {
	margin-bottom: 0;
}

.eml .easy-dialog-for-wordpress-text .eml-success-list, .eml .easy-dialog-for-wordpress-text .eml-error-list {
	margin-top: 0;
}

.eml .easy-dialog-for-wordpress-text .eml-success-list li, .eml .easy-dialog-for-wordpress-text .eml-error-list li {
	text-indent: -10px;
	padding-left: 18px;
}

.eml .easy-dialog-for-wordpress-text .eml-success-list li:before, .eml .easy-dialog-for-wordpress-text .eml-error-list li:before {
	color: red;
	content: "\f158";
	display: inline-block;
	font-family: dashicons, sans-serif;
	margin-right: 0.3em;
	font-size: 16px;
	vertical-align: middle;
}

.eml .easy-dialog-for-wordpress-text .eml-success-list li:before {
	content: "\f147";
	color: green;
}

.eml details summary::-webkit-details-marker, .eml details summary::marker {
	display: none;
	content: "";
}

.eml details summary:before {
	content: "\f139";
	display: inline-block;
	font-family: dashicons, sans-serif;
	font-size: 24px;
	vertical-align: middle;
	padding: 0;
	line-height: 1;
	text-indent: -4px;
	margin-right: 4px;
	margin-top: -1px;
}

.eml details[open] summary:before {
	content: "\f140";
}

.eml details[open] > div, .eml details[open] > p { margin-left: 24px }

.eml a { text-decoration: none }

.misc-pub-external-file span {
	vertical-align: middle;
}

.misc-pub-external-file .button {
	padding: 0 1em;
	vertical-align: middle;
}

.misc-pub-external-file .button:before {
	position: relative;
	left: -6px;
}

.misc-pub-external-file > li {
	text-indent: -24px;
	padding-left: 24px;
}

.misc-pub-external-file > li .dashicons { text-indent: 0 }

.wp-list-table.media #external_files { width: 120px }

.eml .easy-dialog-for-wordpress-text:last-of-type {
	margin-bottom: 1em;
}

.eml .easy-dialog-for-wordpress-text details summary {
	cursor: pointer;
	margin-bottom: 0.4em;
}

.settings_page_eml_settings #options { width: 80px }

.settings_page_eml_settings #state { width: 80px }

.settings_page_eml_settings #date { width: 210px }

.settings_page_eml_settings .eml-log-table #url { width: 320px }

.settings_page_eml_settings .current {
	color: #000;
	font-weight: 600;
}

body.settings_page_eml_settings .copied {
	position: relative;
	z-index: 1;
}

body.settings_page_eml_settings .copied:after {
	animation: 2s fadeOut;
	animation-fill-mode: forwards;
	background-color: #fff;
	color: green;
	content: attr(data-copied-label);
	display: inline-block;
	font-size: 16px;
	font-family: Arial, sans-serif;
	margin-left: 2px;
	position: absolute;
	top: -2px;
	z-index: 2;
}

.form-table .settings_page_eml_settings th { padding: 8px 10px }

body.media_page_efml_local_directories ul#efml-directory-listing-services {
	display: flex;
	gap: 1em;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li {
	border: 4px dashed #c3c4c7;
	flex: 1 1 0;
	font-size: 24px;
	line-height: 1;
	padding: 2em 1em;
	text-align: center;
	min-width: 200px;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li a:not(.connect) {
	line-height: 1.4;
	text-decoration: none;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li a:before, body.media_page_efml_local_directories ul#efml-directory-listing-services li span:before {
	display: block;
	font-family: dashicons, sans-serif;
	font-size: 52px;
	margin: 0 auto 10px;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-local a:before {
	content: "\f163";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-ftp a:before {
	content: "\f504";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-youtube a:before {
	content: "\f19b";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-directory a:before {
	content: "\f501";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-zip a:before {
	content: "\f498";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-drive a:before, body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-drive span:before {
	content: "\f18b";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li a.connect:before {
	display: none;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-drive a.connect {
	margin-top: 24px;
}

.easy-dialog.eml button.settings {
	position: relative;
	top: 3px;
	z-index: 1;
}

.easy-dialog.eml button.settings:after {
	content: "\f111";
	display: inline-block;
	font-family: dashicons, sans-serif;
	font-size: 20px;
}

body.media_page_efml_local_directories #easy-directory-listing-for-wordpress {
	border: 4px dashed #c3c4c7;
}

body.media_page_efml_local_directories #easy-directory-listing-for-wordpress .is-loading {
	text-align: center;
}

body.media_page_efml_local_directories #easy-directory-listing-for-wordpress .is-loading:after {
	background-image: url(/wp-content/plugins/external-files-in-media-library/gfx/loading.svg);
	content: "";
	display: block;
	height: 80px;
	width: 100px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
}

body.easy-dialog-for-wordpress.wp-core-ui .easy-dialog .dashicons:not(.dashicons-editor-help):not(.dashicons-admin-generic) {
	margin-left: 1em;
}

body.easy-dialog-for-wordpress.wp-core-ui .easy-dialog button.efml-help-button {
	float: right;
}

body.eml-file-synced #delete-action { display: none }

.eml-switch-toggle {
	display: inline-block;
	background: #aaa;
}
.eml-switch-toggle input {
	position: absolute;
	opacity: 0;
	z-index: 1;
}
.eml-switch-toggle input + label {
	padding: 5px 8px;
	float:left;
	color: #fff;
	cursor: pointer;
}

.eml-switch-toggle input:checked + .red {
	background:  red;
}

.eml-switch-toggle input:checked + .green {
	background:  green;
}

.easy-dialog-for-wordpress-text > div {
	margin: 1em 0;
}

.easy-dialog-for-wordpress-text > div label {
	display: inline-block;
	font-weight: bold;
	margin-right: 0.6em;
}
