.eml > div { min-width: 640px }

.eml_add_external_files_wrapper {
	border: 4px dashed #c3c4c7;
	margin: 1em auto 0;
	padding: 2em 0;
	text-align: center;
}

#eml_add_external_files_form {
	> div {
		max-width: 520px;
		margin: 0 auto 1em;
		text-align: left;
		strong {
			font-size: 20px;
		}
		details {
			cursor: pointer;
		}
		label {
			cursor: pointer;
			display: block;
			margin: 0 0 .5em;
		}
		textarea {
			height: 80px;
			width: 100%;
		}
	}
}

input[type="password"].eml-field-width, input[type="text"].eml-field-width, select.eml-field-width {
    width: 320px;
}

.eml_settings_link {
    display: inline-block;
	margin-top: .5em;
    text-decoration: none;
	vertical-align: middle;
}

.eml-transient {
    position: relative;
    z-index: 1;
}

body.settings_page_eml_settings .review-hint-button:after, body.media_page_efml_local_directories .review-hint-button:after, body.taxonomy-edlfw_archive .review-hint-button:after {
	color: #d4af37;
	content: "\f155 \f155 \f155 \f155 \f155";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	margin-left: 8px;
}

body.settings_page_eml_settings .nav-tab-help {
	background-color: #fca15b;
	float: right;
	padding-bottom: 9px;
}

body.settings_page_eml_settings .nav-tab-help:before {
	font-size: 30px;
	position: relative;
	top: -14px;
	left: -5px;
	z-index: 1;
}

body.settings_page_eml_settings .dashicons-no { color: red }

body.settings_page_eml_settings .dashicons-yes { color: green }

.eml .easy-dialog-for-wordpress-text label {
	cursor: pointer;
	display: block;
	margin-bottom: 0.5em;
}

.eml .easy-dialog-for-wordpress-text label.title {
	font-weight: 600;
}

.eml .easy-dialog-for-wordpress-text input[type="url"], .efml-export-config .easy-dialog-for-wordpress-text input[type="url"], .easy-dialog-for-wordpress-text #youtube_channel_id {
	display: block;
	margin-bottom: 0.5em;
	width: 100%;
}

.eml .easy-dialog-for-wordpress-text textarea {
	display: block;
	height: 100px;
	margin-bottom: 0.5em;
	width: 100%;
}

.eml .easy-dialog-for-wordpress-text .efml-import-result-list {
	margin-bottom: 2em;
}

.eml .easy-dialog-for-wordpress-text .efml-import-result-list li {
	text-indent: -10px;
	padding-left: 18px;
}

.eml .easy-dialog-for-wordpress-text .efml-import-result-list li:before {
	color: red;
	content: "\f158";
	display: inline-block;
	font-family: dashicons, sans-serif;
	margin-right: 0.3em;
	font-size: 16px;
	vertical-align: middle;
}

.eml .easy-dialog-for-wordpress-text .efml-import-result-list li.success:before {
	content: "\f147";
	color: green;
}

.eml details summary::-webkit-details-marker, .eml details summary::marker {
	display: none;
	content: "";
}

.eml details summary:before {
	content: "\f139";
	display: inline-block;
	font-family: dashicons, sans-serif;
	font-size: 24px;
	vertical-align: middle;
	padding: 0;
	line-height: 1;
	text-indent: -4px;
	margin-right: 4px;
	margin-top: -1px;
}

.eml details[open], .eml_add_external_files_wrapper details[open] {
	margin-bottom: 1em;
}

.eml details[open] summary:before {
	content: "\f140";
}

.eml details[open] > div, .eml details[open] > p { margin-left: 24px }

.eml_add_external_files_wrapper details[open] summary { margin-bottom: .5em; }

.eml_add_external_files_wrapper details[open] > div, .eml_add_external_files_wrapper details[open] > p { margin-left: 10px }

.eml a { text-decoration: none }

.misc-pub-external-file code {
	padding-left: 0;
}

.misc-pub-external-file span {
	vertical-align: middle;
}

.misc-pub-external-file .button {
	padding: 0 1em;
	vertical-align: middle;
}

.misc-pub-external-file .button:before {
	position: relative;
	left: -6px;
}

.misc-pub-external-file > li {
	text-indent: -24px;
	padding-left: 24px;
}

.misc-pub-external-file > li .dashicons { text-indent: 0 }

.wp-list-table.media #external_files { width: 120px }

.eml .easy-dialog-for-wordpress-text:last-of-type {
	margin-bottom: 1em;
}

.eml .easy-dialog-for-wordpress-text details summary {
	cursor: pointer;
	margin-bottom: 0.4em;
}

.settings_page_eml_settings #options { width: 80px }

.settings_page_eml_settings #state { width: 80px }

.settings_page_eml_settings #date { width: 210px }

.settings_page_eml_settings .eml-log-table #url { width: 320px }

.settings_page_eml_settings .current {
	color: #000;
	font-weight: 600;
}

body.settings_page_eml_settings .copied {
	position: relative;
	z-index: 1;
}

body.settings_page_eml_settings .copied:after {
	animation: 2s fadeOut;
	animation-fill-mode: forwards;
	background-color: #fff;
	color: green;
	content: attr(data-copied-label);
	display: inline-block;
	font-size: 16px;
	font-family: Arial, sans-serif;
	margin-left: 2px;
	position: absolute;
	top: -2px;
	z-index: 2;
}

.form-table .settings_page_eml_settings th { padding: 8px 10px }

body.media_page_efml_local_directories ul#efml-directory-listing-services {
	display: flex;
	gap: 1em;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li {
	border: 4px dashed #c3c4c7;
	flex: 1 1 0;
	font-size: 24px;
	line-height: 1;
	padding: 2em 1em;
	text-align: center;
	min-width: 200px;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li:hover {
	background-color: rgba(255,255,255,.6);
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li a:not(.connect) {
	box-shadow: none;
	line-height: 1.4;
	text-decoration: none;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li span:nth-of-type(2) {
	display: inline-block;
	font-size: 16px;
	margin-top: 24px;
}

body.post-type-attachment .external_files span {
	margin-right: .2em;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li a:before, body.media_page_efml_local_directories ul#efml-directory-listing-services li span:before, body.post-type-attachment .external_files .efml-icon:before {
	display: block;
	font-family: dashicons, sans-serif;
	font-size: 52px;
	margin: 0 auto 10px;
}

body.post-type-attachment .external_files .efml-icon:before {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-local a:before, body.post-type-attachment .external_files .efml-file:before, body.post-type-attachment .external_files .efml-local:before {
	content: "\f163";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-import a:before, body.post-type-attachment .external_files .efml-http:before {
	content: "\f317";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-ftp a:before, body.post-type-attachment .external_files .efml-ftp:before {
	content: "\f504";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-youtube a:before, body.post-type-attachment .external_files .efml-youtube:before {
	content: "\f19b";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-directory a:before {
	content: "\f501";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-zip a:before, body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-zip span:first-child:before, body.post-type-attachment .external_files .efml-zip:before {
	content: "\f498";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-drive a:before, body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-drive span:before, body.post-type-attachment .external_files .efml-google-drive:before {
	content: "\f18b";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-cloud-storage a:before, body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-cloud-storage span:before, body.post-type-attachment .external_files .efml-google-cloud-storage:before {
	content: "\f18b";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-rest a:before, body.post-type-attachment .external_files .efml-rest:before {
	content: "\f120";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-dropbox a:before, body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-dropbox span:before {
	content: url(../gfx/dropbox_icon.svg);
}

body.post-type-attachment .external_files .efml-dropbox:before {
	background-image: url(../gfx/dropbox_icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	content: "";
	width: 16px;
	height: 16px;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-s3 a:before, body.post-type-attachment .external_files .efml-s3:before {
	content: "\f162";
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-webdav a:before, body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-webdav span:before {
	background-image: url(../gfx/webdav.svg);
	filter: brightness(0) saturate(100%) invert(38%) sepia(50%) saturate(1478%) hue-rotate(176deg) brightness(83%) contrast(81%);
	content: '';
	height: 50px;
	width: 50px;
}

body.post-type-attachment .external_files .efml-webdav:before {
	background-image: url(../gfx/webdav.svg);
	background-repeat: no-repeat;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(38%) sepia(50%) saturate(1478%) hue-rotate(176deg) brightness(83%) contrast(81%);
	content: '';
	height: 16px;
	width: 16px;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li a.connect:before {
	display: none;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-drive a.connect, body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-dropbox a.connect, body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-google-cloud-storage a.connect {
	margin-top: 24px;
}

.easy-dialog.eml button.settings {
	position: relative;
	top: 3px;
	z-index: 1;
}

.easy-dialog.eml button.settings:after {
	content: "\f111";
	display: inline-block;
	font-family: dashicons, sans-serif;
	font-size: 20px;
}

body.media_page_efml_local_directories #easy-directory-listing-for-wordpress {
	border: 4px dashed #c3c4c7;
}

body.media_page_efml_local_directories #easy-directory-listing-for-wordpress .is-loading {
	text-align: center;
}

body.media_page_efml_local_directories #easy-directory-listing-for-wordpress .is-loading p {
	margin: 0;
}

body.media_page_efml_local_directories #easy-directory-listing-for-wordpress .is-loading p:first-child:after {
	background-image: url(/wp-content/plugins/external-files-in-media-library/gfx/loading.svg);
	content: "";
	display: block;
	height: 80px;
	width: 100px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center;
}

body.easy-dialog-for-wordpress.wp-core-ui .easy-dialog .dashicons:not(.dashicons-editor-help):not(.dashicons-admin-generic) {
	margin-left: .4em;
}

body.easy-dialog-for-wordpress.wp-core-ui .easy-dialog button.efml-help-button {
	float: right;
}

body.eml-file-synced #delete-action { display: none }

.eml-switch-toggle {
	display: inline-block;
	background: #aaa;
}
.eml-switch-toggle input {
	position: absolute;
	opacity: 0;
	z-index: 1;
}
.eml-switch-toggle input + label {
	padding: 5px 8px;
	float:left;
	color: #fff;
	cursor: pointer;
}

.eml-switch-toggle input:checked + .red {
	background:  red;
}

.eml-switch-toggle input:checked + .green {
	background:  green;
}

.eml-switch-toggle input[readonly] + label {
	background: grey !important;
	opacity: .4;
}

.easy-dialog-for-wordpress-text > div {
	margin: 1em 0;
}

.easy-dialog-for-wordpress-text > div label {
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 0.6em;
	margin-bottom: 0.4em;
	min-width: 180px;
}

.easy-dialog-for-wordpress-text > div label:has(input[type="checkbox"]) {
	display: block;
	font-weight: normal;
	margin: 0 0 0.4em;
}

body.taxonomy-edlfw_archive .subtitle, body.taxonomy-edlfw_archive .search-box { display: none }

.external_files_source .dashicons-clock:before {
	font-size: 22px;
	position: relative;
	top: -1px;
	z-index: 1;
}

#easy-directory-listing-for-wordpress[data-type="youtube"] {
	.filesize, .type {
		display: none
	}
}

.efml-import-dialog .error, .eml-sync-config .error {
	color: red;
}

.efml-import-dialog .eml_service_list, .eml_add_external_files_wrapper .eml_service_list {
	display: flex;
	gap: .2em;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-hint {
	flex-basis: 100%;
	font-size: 1.2em;
}

body.media_page_efml_local_directories ul#efml-directory-listing-services li.efml-hint span:before {
	font-size: 1em;
}

#attachment_external_file a:not(.nav-tab-help)[target="_blank"]:after, body.settings_page_eml_settings a:not(.review-hint-button):not(.nav-tab-help)[target="_blank"]:after, .efml-user-settings a:not(.nav-tab-help)[target="_blank"]:after {
	content: "\f504";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	font-size: .9em;
	margin-left: 4px;
	vertical-align: middle;
}

body.settings_page_eml_settings .ui-sortable-handle:before {
	background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M8 7h2V5H8v2zm0 6h2v-2H8v2zm0 6h2v-2H8v2zm6-14v2h2V5h-2zm0 8h2v-2h-2v2zm0 6h2v-2h-2v2z"></path></svg>');
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	padding: 13px;
	vertical-align: middle;
}
